<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        New Recipes
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
     <ion-card>
      <ion-card-header>Add a new recipe</ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Recipe name</ion-label>
          <ion-input required [(ngModel)]="RecipeName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Image url</ion-label>
          <ion-input required [(ngModel)]="ImgUrl"></ion-input>
        </ion-item>
        <ion-item *ngFor="let ingredient of Ingredients; trackBy:trackByFn; let i = index">
          <ion-label position="floating">Ingredient</ion-label>
          <ion-input required [(ngModel)]="Ingredients[i]"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-button type="submit" size="small" class="ion-margin-top" (click)="addIngredientRow()">ADD INGREDIENTS</ion-button>
        </ion-item>
        <ion-item lines="none">
          <ion-button type="submit" size="normal" class="ion-margin-top" (click)="saveIngredient()"><ion-icon name="save" slot="start"></ion-icon>SAVE RECIPE</ion-button>
          <ion-button size="normal" fill="outline" color="danger" class="ion-margin-top" href="/" >CANCEL</ion-button>
        </ion-item>
      </ion-card-content>
     </ion-card>
  </ion-content>
  